a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* CONTENT */

.content {
    background-color: #f0f0f0;
    height: 90vh;
    padding: 4%;
    border-radius: 0 0 14px 14px;
}

/* CONTENT END */

/* PRINCIPAL */

.welcome {
    font-size: 1.6em;
}

.title {
    font-size: 1.4em;
    font-weight: 600;
}

.cards {
    height: 65%;
}

.cardOption {
    background-color: #fff;
    border-radius: 14px;
    padding: 10px;
    border-top: 0.5px solid #000;
    border-right: 0.5px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    height: 150px;
    width: 80%;
    cursor: pointer;
    transition: 0.2s;
}

.cardOption:hover {
    background-color: rgba(34, 39, 67, 0.85);
    color: #f0f0f0;

    transition: 0.2s;
}

.cardOption span span {
    font-size: 1.5em;
}

.cardOption span h1 {
    font-weight: 600;
    font-size: 1.1em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cardOption hr {
    height: .5px;
    width: 100%;
    opacity: 1;
}

/* PRINCIPAL END */


/* HISTORY */


.formSearchPrescription .inputIcon {
    background-color: #fff;
    border-radius: 30% 0 0 30%;
    border: none;
    padding: 2%;
}

.formSearchPrescription .inputIcon span {
    color: #8E9398;
    font-size: 1.5em;
    margin-right: -1px;
    border: none;
}

.formSearchPrescription input {
    font-size: 0.9em;
    margin-bottom: 2%;
}

.formSearchPrescription input[type="text"],
.formSearchPrescription input[type="date"] {
    padding: 2%;
    border-radius: 10px;
    border: none;
    box-shadow: none;
}

.formSearchPrescription input::placeholder {
    color: #8E9398;
}

.formSearchPrescription input:focus {
    margin: none;
    outline: none;
    box-shadow: none;
}

.formSearchPrescription .searchBtn {
    background-color: #222743;
    color: #f0f0f0;
    padding: 2%;
    width: 100%;
    height: 36px;
    font-size: 1.1em;
    border-radius: 10px;
    border: none;
}

.tableDiv {
    max-height: 300px;
    width: 100%;
    overflow: auto;
    display: inline-block;
}

.table .detailPrescription {
    font-size: 1.2em;
    color: #00f;
    cursor: pointer;
}

.pagination .page-link {
    padding: .375rem .75rem;
    cursor: pointer;
}

/* HISTORY END */


/* MODAL */

.modal .medicinesList {
    resize: none;
}

.modal input,
.modal textarea {
    border-radius: 8px;
}

.modal .formSearchPrescription .inputArea {
    border: 1px solid #000;
    border-radius: 7px;
}

.modal .formSearchPrescription .inputIcon {
    background-color: #fff;
    border-radius: 30% 0 0 30%;
    border: 1px;
}

.modal .formSearchPrescription .inputIcon span {
    color: #8E9398;
    font-size: 1.5em;
    margin-right: -1px;
    border: none;
}

.modal .formSearchPrescription input[type="text"] {
    font-size: 0.9em;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0 2%;
}

.modal .formSearchPrescription input::placeholder {
    color: #8E9398;
}

.modal .formSearchPrescription input:focus {
    margin: none;
    outline: none;
    box-shadow: none;
}

.modal .formSearchPrescription .searchBtnCPF {
    background-color: #222743;
    color: #f0f0f0;
    padding: 2%;
    width: 100%;
    height: 36px;
    font-size: 1.1em;
    border-radius: 10px;
    border: none;
}

.hidden {
    display: none;
}

/* MODAL END */


/* SEARCH PRESCRIPTION */

.titleSrc {
    font-size: 1.6em;
    font-weight: 600;
}

.cardSrcOption {
    background-color: #fff;
    border-radius: 14px;
    padding: 10px;
    border-top: 0.5px solid #000;
    border-right: 0.5px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    cursor: pointer;
    transition: 0.2s;
}

.cardSrcOption .imgSrcOption {
    font-size: 15em;
}

.verticalLineSrc {
    height: 100%;
    width: 4px;
    background-color: #000;
    opacity: 1;
    border-radius: 10px;
}

.cardSrcOption .btnSrcOption {
    background-color: #212121;
    color: #fff;
    height: 90px;
    border-radius: 14px;
    padding: 5%;

    margin: 30px 0;
}

.cardSrcOption .btnSrcOption h1 {
    font-size: 1.2em;
}

/* SEARCH PRESCRIPTION  END*/


/* RESPONSIBILITY */

@media screen and (max-width: 1010px) {
    .welcome {
        font-size: 1.4em;
    }

    .title {
        font-size: 1.2em;
    }

    .cardOption span h1 {
        font-size: 1em;
    }

    .cardOption span span {
        font-size: 1.3em;
    }

    .cardOption {
        width: 90%;
    }

    .formSearchPrescription .inputLabel {
        font-size: 0.9em;
    }

    .formSearchPrescription input {
        font-size: 0.8em;
    }

    .formSearchPrescription .searchBtn,
    .modal .formSearchPrescription .searchBtnCPF {
        font-size: 1em;
    }

    .table * {
        font-size: 0.95em;
    }

    .titleSrc {
        font-size: 1.5em;
    }

    .cardSrcOption .imgSrcOption {
        font-size: 13em;
    }

    .cardSrcOption .btnSrcOption h1 {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 872px) {
    .welcome {
        font-size: 1.3em;
    }

    .title {
        font-size: 1.1em;
    }

    .cardOption span h1 {
        font-size: 0.9em;
    }

    .cardOption span span {
        font-size: 1.2em;
    }

    .formSearchPrescription .inputLabel {
        font-size: 0.8em;
    }

    .formSearchPrescription input {
        font-size: 0.7em;
    }

    .formSearchPrescription .searchBtn,
    .modal .formSearchPrescription .searchBtnCPF {
        font-size: 0.9em;
    }

    .table * {
        font-size: 0.9em;
    }

    .titleSrc {
        font-size: 1.4em;
    }

    .cardSrcOption .imgSrcOption {
        font-size: 10em;
    }

    .cardSrcOption .btnSrcOption h1 {
        font-size: 1em;
    }

    .modal .inputArea{
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 826px) {
    .welcome {
        font-size: 1.2em;
    }

    .title {
        font-size: 1em;
    }

    .cardOption span h1 {
        font-size: 0.8em;
    }

    .cardOption span span {
        font-size: 1.1em;
    }

    .formSearchPrescription .inputLabel {
        font-size: 0.7em;
    }

    .formSearchPrescription input {
        font-size: 0.6em;
    }

    .formSearchPrescription .searchBtn {
        font-size: 0.7em;
        height: 30px;
    }
}

@media screen and (max-width: 774px) {
    .cardOption span h1 {
        font-size: 0.7em;
    }

    .table * {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 767px) {
    .cardOption span h1 {
        font-size: 0.8em;
    }

    .formSearchPrescription .inputLabel {
        font-size: 0.8em;
    }

    .formSearchPrescription input {
        font-size: 0.8em;
    }

    .formSearchPrescription .searchBtn {
        font-size: 1em;
    }

    .table * {
        font-size: 0.9em;
    }

    .verticalLineSrc {
        display: none;
    }

    .cardSrcOption .imgSrcOption {
        font-size: 10em;
    }

    .cardSrcOption .btnSrcOption h1 {
        font-size: 1em;
    }

    .cardSrcOption .btnSrcOption {
        width: 100%;
    }
}

@media screen and (max-width: 602px) {
    .welcome {
        font-size: 1.1em;
    }

    .title {
        font-size: 1em;
    }

    .cardOption span h1 {
        font-size: 0.7em;
    }

    .cardOption span span {
        font-size: 1.1em;
    }

    .formSearchPrescription .inputLabel {
        font-size: 0.7em;
    }

    .formSearchPrescription input {
        font-size: 0.7em;
    }

    .formSearchPrescription .searchBtn {
        font-size: 0.9em;
    }

    .table * {
        font-size: 0.85em;
    }

    .titleSrc {
        font-size: 1.2em;
    }

    .cardSrcOption .imgSrcOption {
        font-size: 8em;
    }

    .cardSrcOption .btnSrcOption h1 {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 575px) {
    .welcome {
        font-size: 1.2em;
    }

    .title {
        font-size: 1em;
    }

    .cardOption span h1 {
        font-size: 0.8em;
    }

    .cardOption span span {
        font-size: 1.1em;
    }

    .cardOption {
        border-radius: 14px;
        height: 100px;
        width: 50%;
    }

    .formSearchPrescription .inputLabel {
        font-size: 0.8em;
    }

    .formSearchPrescription input {
        font-size: 0.8em;
    }

    .formSearchPrescription .searchBtn {
        font-size: 0.9em;
    }

    .tableDiv {
        max-height: 150px;
    }
}

@media screen and (max-width: 510px) {
    .welcome {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 480px) {
    .welcome {
        font-size: 0.9em;
    }

    .title {
        font-size: 0.8em;
    }

    .cardOption span h1 {
        font-size: 0.6em;
    }

    .cardOption span span {
        font-size: 1em;
    }

    .formSearchPrescription .inputLabel {
        font-size: 0.7em;
    }

    .formSearchPrescription input {
        font-size: 0.7em;
    }

    .formSearchPrescription .searchBtn {
        font-size: 0.8em;
    }

    .titleSrc {
        font-size: 1.1em;
    }

    .cardSrcOption .imgSrcOption {
        font-size: 7em;
    }

    .cardSrcOption .btnSrcOption h1 {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 435px) {
    .cardOption span h1 {
        font-size: 0.8em;
    }

    .cardOption span span {
        font-size: 1.1em;
    }

    .cardOption {
        width: 80%;
    }

    .titleSrc {
        font-size: 1.1em;
    }

    .cardSrcOption .imgSrcOption {
        font-size: 7em;
    }

    .cardSrcOption .btnSrcOption h1 {
        font-size: 0.7em;
    }

    .cardSrcOption .btnSrcOption {
        height: 60px;
    }
}

@media screen and (max-width: 370px) {
    .welcome {
        font-size: 0.8em;
    }

    .cardOption span h1 {
        font-size: 0.7em;
    }

    .cardOption span span {
        font-size: 1em;
    }

    .formSearchPrescription .inputLabel {
        font-size: 0.6em;
    }

    .formSearchPrescription input {
        font-size: 0.6em;
    }

    .formSearchPrescription .searchBtn {
        font-size: 0.7em;
    }

    .titleSrc {
        font-size: 1em;
    }

    .cardSrcOption .imgSrcOption {
        font-size: 5em;
    }

    .cardSrcOption .btnSrcOption h1 {
        font-size: 0.6em;
    }

}

@media screen and (max-width: 280px) {
    .welcome {
        font-size: 0.7em;
    }

    .title {
        font-size: 0.7em;
    }

    .cardOption span h1 {
        font-size: 0.6em;
    }

    .cardOption span span {
        font-size: 0.9em;
    }

    .formSearchPrescription .inputLabel {
        font-size: 0.5em;
    }

    .formSearchPrescription input {
        font-size: 0.5em;
    }

    .formSearchPrescription .searchBtn {
        font-size: 0.6em;
    }

    .table * {
        font-size: 0.8em;
    }

    .titleSrc {
        font-size: 0.9em;
    }

    .cardSrcOption .imgSrcOption {
        font-size: 4em;
    }

    .cardSrcOption .btnSrcOption h1 {
        font-size: 0.5em;
    }

    .cardSrcOption .btnSrcOption {
        height: 50px;
        width: 100%;
    }
}

/* RESPONSIBILITY END */